.group {
  /* border-top: 1px solid #000000; */
  border-bottom: 1px solid #000000;
  padding: 0 0;
}

.venueName {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0px;
}

.venueAddress {
  font-size: 12px;
  opacity: 0.85;
  margin-bottom: 0px;
}

.shows {
  display: flex;
  flex-direction: column;
  gap: 2
  px;
  margin-top: 2px;
}

.show {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.showLine {
  display: flex;
  align-items: baseline;
  gap: 10px;
}

.time {
  font-weight: bold;
  font-size: 13px;
  flex-shrink: 0;
  min-width: 68px;
}

.artist {
  font-size: 14px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  padding-left: 70px;
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 0px 8px;
  text-decoration: none;
  font-family: var(--font-body);
  font-size: 12px;
  background-color: var(--bg);
  color: var(--fg);
  transition: all 0.1s ease;
  min-height: 28px;
}

.button:hover {
  background-color: var(--fg);
  color: var(--bg);
  text-decoration: none;
}
